@import "tailwindcss";

.hero {
  display: flex;
  justify-content: space-between;
  padding: 60px 40px;
  background: #f5f5f5;
  width: 100%;
  align-items: center;
}

.hero-img {
  display: flex;
  border-radius: 16px;  
  max-width: 45%;
  height: auto;
}

.hero-img img {
  width: 100%;
  height: auto;
  border-radius: 16px;
}

.hero-text h1 {
  font-size: 48px;
  color: #000;
  display: flex;
}

.hero-text p {
  margin-top: 10px;
  font-size: 18px;
  color: #555;
  
  display: flex;
}

.hero-text button {
  margin-top: 20px;
  padding: 12px 24px;
  border: none;
  background: #3F72AF;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  justify-content: center;
  display: flex;
  align-items: center;
}

.hero-text button:hover {
  background: #112D4E;
  scale: 1.04;
}
