@import "tailwindcss";


.search {
  padding: 8px 12px;
  width: 40%;
  border: 1px solid #ffffff;
  border-radius: 6px;
  background: #ffffff;
  color: #111;
}

.nav-icons span {
  
  flex-direction: row;
  margin-left: 20px;
  cursor: pointer;
  color: white;
  font-family: 'helvetica neue';
  font-weight: 500;
}

:root{
  --primary: 112D4E;
  --secondary: 3F72AF;
  --third: DBE2EF;
  --fourth: F9F7F7;
}