html {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
  width: 100%;
  font-family: sans-serif;
}


/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  background: #ff0000;
  border-bottom: 1px solid #eee;
  width: 100%;
}

.search {
  padding: 8px 12px;
  width: 40%;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.nav-icons span {
  margin-left: 20px;
  cursor: pointer;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  padding: 60px 40px;
  background: #f5f5f5;
  width: 100%;
}

.hero-text h1 {
  font-size: 48px;
}

.hero-text p {
  margin-top: 10px;
  font-size: 18px;
  color: #555;
}

.hero-text button {
  margin-top: 20px;
  padding: 12px 24px;
  border: none;
  background: black;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

/* CATEGORIES */
.categories {
  padding: 40px;
  width: 100%;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.category-card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #eee;
  text-align: center;
  cursor: pointer;
}

/* PRODUCTS */
.products {
  padding: 40px;
  width: 100%;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
}

.product-card {
  background: white;
  border: 1px solid #eee;
  padding: 16px;
  border-radius: 8px;
  text-align: center;
  transition: 0.2s;
}

.product-card:hover {
  transform: scale(1.03);
}

.product-card img {
  width: 100%;
  border-radius: 6px;
}

.product-card button {
  margin-top: 12px;
  padding: 8px 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* FOOTER */
.footer {
  padding: 20px;
  background: #111;
  color: white;
  text-align: center;
  margin-top: 40px;
  width: 100%;
}
