/*palet warna:
112D4E
3F72AF
DBE2EF
F9F7F7 */

@import "tailwindcss";



body {
  background: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
}

:root{
  --primary: F9F7F7;
  --secondary: 3F72AF;
  --tertiary: 112D4E;
  --quaternary: DBE2EF;
}

@theme{
  --color-primary: #F9F7F7;
  --color-secondary: #3F72AF;
  --color-third: #112D4E;
  --color-fourth: #DBE2EF;
}



